// .container {
//     background-color: #ebf2f5;
// }

// .nav {
//     background-color: #ebf2f5;
// }

// .heroBanner {
//     background-color: #ebf2f5;
// }

.background {
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: #c5deea;
    padding: 60px 30px;
    
    color: black;
}