// .container {
//     background-color: #ebf2f5;
// }

// .nav {
//     background-color: #ebf2f5;
// }

// .heroBanner {
//     background-color: #ebf2f5;
// }
.main {
    // background-color: rgb(16, 16, 16);
}
.background {
    display: flex;
    align-items: center;
    justify-content: center;
    // color: rgb(16, 16, 16);
}

.experience {
    display: flex;
}

