.nav, .navBlack {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    width: 100%;

    .navItem {
        // padding-left: 20px;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 1px;
    }

}

.nav {
    color: white;
    position: fixed;
    z-index: 1;
    .navItem:hover {
        color: rgb(227, 227, 227);
    }
}

.navBlack {
    color: black;
    .navItem:hover {
        color: black;
    }
}